*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    font-size: 120%;
}
P{
    margin: 2px;
    padding: 2px;
}
h1{
    width: 380px;
    margin: 40px auto 0px;
    font-family: tahoma;
    color:black;
    background-color: #28a745;
    text-align: center;
    border: 1px solid salmon;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 30px;
}

form{
    background-color: honeydew;
    width: 380px;
    text-align: center;
    border: 1px solid green;
    border-top: none;
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
    margin: 0px auto 0px;
}

p{
    margin: 20px auto 0px;
    width:  30%;
    text-align: center;
}
.groupinput{
    width: 100%;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    font-family: tahoma;

    
}
input{
    padding: 0px;
    width: 67%;
    font-size: 20px;
}

.btn{
    margin: 20px 0px 0px 0px;
    padding: 10px;
    font-size: 15px;
    background:#CDCDCD;
    border: none;
    border-radius: 10px 10px 10px 10px;
}

.error{
    color: red;
    padding: 0px;
    margin: 0px  auto 0px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 300px;
    text-align: center;
    background-color: #FFCCCC;
    display: block;
}