body{
    background: beige;
}
.rowproduct{
    width: 100%;
    height: 40px;
}
.addPD{
    background-color: #28a745;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.orderby{
    width: 100%;
    text-align: right;
}
.orderbybtn{
    background-color: #99CCFF;
    color: black;
    padding: 3px;
    border-radius: 5px;
}
.tablehead{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid  rgb(134, 134, 134);
    /*border: 1px solid black;*/
}
td{
    border-bottom: 1px rgb(134, 134, 134) solid;
    /*border: 1px solid black;*/
     vertical-align: middle;
 }
 .editbtn{
     border-radius: 5px;
 }
 .tdnonborder{
     border-bottom: none;
 }
 .orderout{
    margin: 0px 0px 40px 0px;
 }
 .btndiv{
   text-align: right;
 }
 .btn{
    margin: 20px 0px 0px 0px;
    padding: 10px;
    font-size: 20px;
    background:#CDCDCD;
    border: none;
    border-radius: 10px 10px 10px 10px;
}
#bordersalmon{
    border: salmon 1px solid;
    border-radius: 20px;
    background-color: #ededed;
    padding: 0px 0px 30px 0px;
}
#bordersalmonproduct{
    border: salmon 1px solid;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 0px 0px 30px 0px;
}
.frampic {
    position: relative;
    width: 280px;
    height: 230px;
    display: inline-block;
    margin: 5px auto 0px auto;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    border: red 1px solid;
}

.PDpic {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    width: 210px;
}
.inputfile{
    margin: 40px auto;
    width: 50%;
}
.lockout{
    float: right;
}
.logoutbtn{
    margin: 0px 0px 0px 10%;
    background-color: #ededed;
    padding: 7px;
    border-radius: 5px;
    border: orchid 1px solid;
}
.logoutbtnAdmin{
    margin: 0px 0px 0px 0px;
    color: red;
    background-color: #ededed;
    padding: 7px;
    border-radius: 5px;
    border: orchid 1px solid;
}
.emcartP{
    font-size: 70px;
    color: #c0c0c0;
    font-family: tahoma;
    text-align: center;
}
.delbtn{
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    color: black;
}
.combtn{
    background-color: #28a745;
    border-radius: 5px;
    padding: 5px;
    color: white;
}